astunparse==1.6.3
audioread==2.1.9
certifi==2020.12.5
dataclasses==0.6
dill==0.3.3
filelock==3.0.12
fsspec==0.8.5
future==0.18.2
gast==0.3.3
joblib==1.0.0
Keras-Preprocessing==1.1.2
llvmlite==0.35.0
matplotlib==3.3.3
nltk==3.5
numba==0.52.0
numpy==1.18.5
oauthlib==3.1.0
pandas==1.1.5
Pillow==8.0.1
protobuf==3.14.0
pydub==0.23.1
pytorch-lightning==1.1.1
regex==2020.11.13
resampy==0.2.2
sacremoses==0.0.43
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.1
sentencepiece==0.1.94
sonopy==0.1.2
SoundFile==0.10.3.post1
tabulate==0.8.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tokenizers==0.9.4
torch==1.7.1
torchaudio==0.5.0
torchtext==0.6.0
torchvision==0.8.2
tqdm==4.54.1
transformers==4.1.1
typing-extensions==3.7.4.3
