{% extends 'base.html' %}
{% block content %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-purple-400 tracking-widest font-medium title-font mb-1">Your API token is:</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-white">{{token}}</h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
          <div class="flex items-center mb-3">
            
            <h2 class="text-white text-lg title-font font-medium">Limitation</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">The API is currently in developement stage and is using a minimal server. Excessive use of the token( > 200 requests/day) will offer a ban</p>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
          <div class="flex items-center mb-3">
            
            <h2 class="text-white text-lg title-font font-medium">Consider Donating!</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">This is an open source project. The server running cost for a deep learning task is high. So please consider donating!</p>
            
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
          <div class="flex items-center mb-3">
            
            <h2 class="text-white text-lg title-font font-medium">Unlock Better Perks</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">If you send donations ranging from $3 and above, you will be eligible for 1000 requests per day or more.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}