<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <style>
  html {
  scroll-behavior: smooth;
}
  </style>
	<title>API for NLU</title>
</head>
<body>
	{% block header %}  <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Virtual Assistant API</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
            <a href="/#about" class="mr-5 hover:text-white">About</a>
            <a href="/#api" class="mr-5 hover:text-white">API</a>
            <a href="https://github.com/LearnedVector/A-Hackers-AI-Voice-Assistant" class="mr-5 hover:text-white">GitHub</a>
            <a href="#contributors" class="mr-5 hover:text-white">Contributors</a>        
            <a href="https://www.youtube.com/channel/UCYpBgT4riB-VpsBBBQkblqQ" class="mr-5 hover:text-white">Youtube</a>
            
          </nav>

        </div>
      </header>

      {% endblock %}


{% block content %}
{% endblock %}

{% block firstSpace %}
{% endblock %}

{% block secondSpace %}
{% endblock %}

{% block thirdSpace %}
{% endblock %}

{% block fourthSpace%}
{% endblock %}


      {% block footer %}
<footer class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-pink-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Virtual Assistant API</span>
      </a>
      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"><a href="https://tailblocks.cc">© 2021 tailblocks</a> <br> Website made by—
        <a href="https://www.instagram.com/shakhyar.codes/" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@shakhyar.codes</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">


        <a href="https://www.instagram.com/shakhyar.codes/" class="ml-3 text-gray-400">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>

      </span>
    </div>
  </footer>
{% endblock %}

</body>
</html>